div
  style.
    #parser-popup {
      all: initial;
      font-family: sans-serif;
      top: 10px;
      right: 10px;
      width: 300px;
      height: 500px;
      position: fixed;
      z-index: 1000000000;
      background: white;
      padding: 20px;
      box-shadow: -3px 3px 25px #111;
      border-radius: 5px;
      overflow-y: auto;
      display: block;
    }

    #parser-popup * {
      all: unset;
    }

    #parser-popup h1 {
      display: block;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 1.5em;
    }

    #parser-popup button {
      border: 1px solid #ccc;
      background: #eee;
      cursor: pointer;
      padding: 5px
    }

    #parser-popup button:hover {
      background: #ccc;
    }

    #parser-popup #form {
      display: block;
      height: auto;
      width: auto;
    }

    #parser-popup .field {
      margin-top: 10px;
      display: block
    }

    #parser-popup .field .name {
      display: block;
      text-transform: capitalize;
      font-weight: bold;
    }

    #parser-popup .field button {
      font-size: 0.8em;
      font-weight: normal;
      margin-left: 5px;
      padding: 2px;
      border-radius: 5px;
    }

    #parser-popup .field ol {
      display: block;
      padding-left: 10px;
      list-style-type: none;
    }

    #parser-popup .field.method ol {
      padding-left: 25px;
      list-style-type: decimal;
    }

    #parser-popup .field li {
      display: list-item;
      margin-bottom: 5px;
    }

  #parser-popup
    h1 Recipe

    #form

